@font-face {
  font-family: 'MyFont';
  src: url('files/PixelAzureBonds-327Z.ttf') format('truetype');
}

html {
  height: 100%;
  width: 100%;
  font-family: 'MyFont';
  scroll-behavior: smooth;
}

.homepage {
  background-image: url('files/9205433.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.gamepage {
  background-image: url('files/Eqb07uBXAAAyH5X copy.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;

}

h1 {
  position: absolute;
  text-align: center;
  color: mintcream;
  font-size: 90pt;
  margin-top: 14%;
  z-index: 1;
  transform: translate(45%, -55%);
}

h2 {
  position: absolute;
  text-align: center;
  color: mintcream;
  font-size: 100pt;
  margin-top: 27%;
  z-index: 1;
  transform: translate(75%, -50%);
}

button {
  position: absolute;
  object-position: center;
  margin-top: 37%;
  margin-left: 800px;
  z-index: 1;
  background-color: transparent;
  border: transparent;
}

.game_b {
  margin-left: 10px;
  margin-top: 10px;
}

.add_b {
  margin-left: 1100px;
  margin-top: 600px;
}

.delete_b {
  margin-left: 1400px;
  margin-top: 600px;
}

vine1 {
  transform: rotate(180deg);
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: 10px;
  left: 10px;
  width: 700px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 1050px;
}

.log {
  position: absolute;
  margin-top: 410px;
  margin-left: 1500px;
  z-index: 1;
}

.sign {
  position: absolute;
  margin-top: 600px;
  margin-left: 100px;
  z-index: -1;
}

--hangman .game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.figure-container {
  fill: transparent;
  stroke: #b8b691;
  stroke-width: 20px;
  stroke-linecap: square;
  transform: translate(50%, 30%);
}

.figure-part {
  display: none;
  margin-bottom: 20px;
  position: absolute;
  top: 50px;
  left: 100%;
}

.wrong-letters-container {
  position: absolute;
  top: 40px;
  left: 220px;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 20px;
  color: #b8b691;
  font-size: 45px;
}

.wrong-letters-container p {
  margin: 0 0 2px;
}

.wrong-letters-container span {
  font-size: 45px;
  color: #b8b691;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  margin-left: 250px;
  font-size: 30px;
  margin-bottom: 100px;
  z-index: 1;
}

.letter {
  border-bottom: 5px solid black;
  display: inline-flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}